#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
}

.nc-container {
  max-width: 96%;
  margin: 0 auto;
  width: 1200px;
}

.main-navigation a {
  color: #dcdcdc !important;
  font-size: 16px;
  font-weight: 400;
}



.main-header {
	color: #fff;
	background: #023543;
	background-image: url('/header_background.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.trust {
	background: rgba(255, 255, 255, 0.18);
}

.tag {
	width: fit-content;
	padding: 0.25rem 1rem;
	padding-left: 0.8rem;
	border-radius: 16px;

	color: #F9FAFB;
	background-color: #FFFFFF2E;
	
	font-size: 0.875rem;
	text-transform: uppercase;
	font-weight: 400;
}

.tag::before {
	content: '🔥';
	display: inline-block;

	margin-right: 5px;
}

.tag-white {
	color: #031b1d;
	background-color: #f9fafb;

	border: 1px solid #eaecf0;

	font-weight: 500;
}

.subtitle {
	font-size: 3rem;
	font-weight: 700;
	line-height: 1.2;
	text-transform: uppercase;
}

.features {
	height: 420px;
	max-height: 420px;
	overflow: auto;

	padding-bottom: 7rem;

	-webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
  	mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);

	scrollbar-width: none;
}

.features li {
	padding:  1.25rem 1.5rem;

	border: 1px solid #e5e5e5;
	border-radius: 20px;

	transition: all 0.2s ease-in-out;
}

.features h4 {
	color: #646161;

	font-weight: 700;
	font-size: 1.25rem;

	margin-bottom: 8px;
}

.benefits,
.features p {
	color: #6B6969;
}

.features li:first-child,
.features li:hover {
	background: #29ad8d;
	border-color: #29ad8d;
}

.features li:first-child h4,
.features li:first-child p,
.features li:hover h4,
.features li:hover p {
	color: #000;
}

.benefits {
	max-width: 500px;
	margin-left: 20px;
}

.benefits li {
	list-style: disc;
}

.trustworthiness {
	color: #fff;
	background: #023543;
	background-image: url('/trust_bg.png');
	background-repeat: round;
}

.card-light,
.card-dark {
	border-radius: 20px;
	border: 1px solid rgba(0, 0, 0, 0.06);
	transition: all 0.5s ease-in-out;
}

/* .card-dark:hover, */
.card-light {
	color: #000;
	background: #F6F9F8;
}

/* .card-light:hover, */
.card-dark {
	color: #fff;
	background: #001027;
}

.secondary-title {
	font-family: 'Montserrat';
	font-size: 2.4rem;
	text-align: left;
	font-weight: 600;

	line-height: 1.2;
}

.expense-details {
	background-image: url('/expense_details.png');
	background-repeat: no-repeat;
	background-position: bottom right;
}


.footer-links,
.main-navigation {
	a {
		color: #646161;

		transition: all 0.2s ease-in-out;
	}
}

.footer-links,
.main-navigation {
	a:hover {
		color: #29ad8d !important;
	}
}

a.ommit:hover {
	color: #E2FF54 !important;
}

.footer-card {
	background-image: url('/header_background.png');
	background-repeat: no-repeat;
	background-size: cover;
}

/* .btn-secondary {
	position: relative;
	overflow: hidden;
}

.btn-secondary.btn-secondary.btn-secondary:hover {
	color: #fff !important;
}

.btn-secondary:hover::before {
	transform: scale(1);
} 

.btn-secondary::before {
	display: inline-block;
	content: '';

	position: absolute;
	width: 105%;
	height: 105%;
	z-index: -1;

	background: #29ad8d;
	border-radius: 20px;
	
	transform: scale(0);
	transition: all .5s cubic-bezier(.77,0,.175,1);
}*/

.animate.fade-right {
	animation-delay: .15s;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(.165,.84,.44,1);
  animation-name: AuxFadeInRight2;
  opacity: 0;
  animation-fill-mode: both;
}

.animate.fade-up {
	animation-delay: .15s;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(.165,.84,.44,1);
  animation-name: AuxFadeInUp;
  animation-fill-mode: both;
  opacity: 0;
}

.animate.fade-left {
	animation-delay: .15s;
  animation-timing-function: cubic-bezier(.165,.84,.44,1);
  animation-name: AuxFadeInLeft1;
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0;
}

.delay-3 {
	animation-delay: .30s;
}

@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes AuxFadeInRight2 {
	0% {
		opacity: 0;
		transform: translate3d(75px,0,0);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes AuxFadeInUp {
	0% {
	opacity: 0;
	transform: translate3d(0,27px,0);
	}
	100% {
	opacity: 1;
	transform: none;
	}
}

@keyframes AuxFadeInLeft1 {
	0% {
		opacity: 0;
		transform: translate3d(-50px,0,0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}


/* Generate Credit */
.secondary-navigation a {
	color: #000;
	transition: all 0.2s ease-in-out;
}

.secondary-navigation a:hover {
	color: #29ad8d;
}

.font-montserrat {
	font-family: 'Montserrat';
}

.is-loading {
	position: relative;
}

.is-loading span {
	padding-left: 25px;
}

.is-loading::before {
	content: "";
      box-sizing: border-box;
      position: absolute;
      left: 20px;
	width: 18px;
	height: 18px;
      border-radius: 50%;
      border: 5px solid #FFF;
      animation: prixClipFix 2s linear infinite ;
}

 @keyframes prixClipFix {
	0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
	25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
	50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
	75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
	100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}