#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
}

.container {
  max-width: 96%;
  margin: 0 auto;
  width: 1200px;
}

.main-navigation a {
  color: #dcdcdc;
  font-size: 16px;
  font-weight: 400;
}